<div class="card text-center">
  <img class="card-img-top" src="images/avatar.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{ osoba.firstName }}&nbsp;{{ osoba.lastName }}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ osoba.address }}</li>
    <li class="list-group-item">{{ osoba.phone }}</li>
    <li class="list-group-item">{{ osoba.company }}</li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link">View person</a>
    <button ng-click="deletePerson(osoba._id);$route.reload();" class="card-link">Delete person</button>
  </div>
</div>